.email{
    height: 40px;
    width: 50%;
    box-sizing: border-box;
    margin-top: 10px;
}

.nom{
    height: 40px;
    width: 50%;
    box-sizing: border-box;
}

.submit{
    height: 40px;
    width: 50%;
    margin-top: 10px;
}

.texte {
	margin-top: 10px;
}

section{
    height: 50px;
    margin: auto;
    width:70px;
}
