.email{
    border: 1px solid;
    height: 40px;
    width: 50%;
    padding: 4px 6px;
    margin: 10px 0;
    box-sizing: border-box;
}

.Nom{
    border: 2px solid;
    height: 40px;
    width: 50%;
    padding: 4px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

.submit{
    height: 40px;
    width: 50%;
    padding: 4px 15px;
    margin: 5px 0;
}
section{
    height: 50px;
    margin: auto;
}
